{{define "content"}}
<h1>ALBUM: {{ .Count }}</h1>
<button type="button" onclick="sendUpdateQueryCB('/update-checked-user-friends')">Update UserFriends</button>
<button type="button" onclick="sendUpdateQueryCB('/update-checked-user-groups')">Update UserGroups</button>
<button type="button" onclick="sendUpdateQueryCB('/update-checked-user-wall')">Update UserWall</button>
<p/>
{{template "pagination" .}}
<ul class="mediaList">
    {{range .Files}}
    {{template "media" .}}
    {{end}}
</ul>
{{template "pagination" .}}
{{end}}
