{{define "media"}}
<div class="mediaTile" id="tile{{.Id}}">
    {{if eq .FType -1}}
    <b>{{.Path}}</b>
    {{else if eq .FType 0}}
    <img class="mediaData" src='/media/{{.Path}}' >
    {{else}}
    <video class="mediaData" src='/media/{{.Path}}' controls></video>
    {{end}}
    <div class="mediaInfo">
    <input type="checkbox" id="{{.Id}}" onclick="onCheckMedia({{.Id}})" name="{{.Id}}"/>
    {{.Name}}
    <button onclick="openMedia({{.Id}})">📁</button>
    </div>
</div>
{{end}}
